@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico&display=swap');
.row {
    width: 100vw;
}

.bodyApp {
    min-height: 100vh;
    background-image: url("img/ciel.jpg");
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'Dancing Script', cursive, sans-serif;
    font-weight: bold;
    color: yellow;
}